name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  style:
    name: Check style
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/ruff-action@v1
    - uses: astral-sh/ruff-action@v1
      with:
        args: "format --check"

  test:
    needs: style
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    name: Run tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Build
      run: uv sync --all-extras
    - name: Run tests
      run: |
        git clone https://github.com/xdf-modules/example-files.git
        uv run pytest
